.ipynb_checkpoints/
**/*.ipynb


tlibs/data/
tlibs/bindata/


**/*.pdf
**/*.csv
**/*.pyc
**/*.xlsx
testdialoglic.py
test.py
*.ui
*.ipynb
combotest.py
aviblecomboBox.py
resources/
**/__pycache__
*.pyc
